body {
  display: flex;
  justify-content: center;
  height: 100vh;
  
}
a {
  color: whitesmoke;
  text-decoration: none;
}

.Links {
  display: flex;
  align-items: space-around;
}



.App {
  width: 90vw;
}